:root {
    caret-color: #0073e6;
    --universal-accent-color: #0073e6;
    --universal-accent-color-dark: #0049df;
    --universal-accent-color-light: #4d9dee;
    --universal-accent-color-text: #fff;
    --universal-accent-color-text-dark: #fff;
    --universal-accent-color-text-light: #fff;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {box-sizing: border-box;}

body { background-color: #ddd; font: 14px/1.8 'Open Sans',Helvetica,Arial,sans-serif; color: #666; -webkit-text-size-adjust: 100%; }

body a { color: var(--universal-accent-color); transition: color 250ms linear }
body a:hover { text-decoration: underline; color: var(--universal-accent-color); }

img { max-width: 100%; height: auto; }

.screen {
    height: 100%;
    width: calc(100% - 200px);
}
#fa-wrapper {
    gap: 4px;
    margin: auto;
    padding: 35px;
    display: grid;
    position: relative;
    text-align: center;
    justify-content: center;
    grid-template-columns: 100%;
    background: rgba(17, 17, 17, 100%);
}
.fa-bio-wrapper {
    gap: 2px;
    color: #FFF;
    width: 100%;
    margin: auto;
    display: grid;
    justify-items: start;
    justify-content: center;
    grid-template-columns: 100%;
}

.fa-logo {
    border: solid white 1px;
}
.fa-name {
    color: #FFF;
    font-size: 36px;
    margin-top: 5px;
    font-weight:bold;
    display: inline-block;
}
.fa-bio {
    color: #FFF;
    font-size: 24px;
    text-align: left;
    display: inline-block;
}

.fa-icons {
    gap: 20px;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 100%;
}
.fa {
    gap: 1px;
    top: 10px;
    width: 100%;
    color: #FFF;
    opacity: 75%;
    display: flex;
    font-size: 27px;
    cursor: default;
    position: relative;
    padding: 20px 30px;
    border-radius: 2px;
    user-select: none;
    letter-spacing: 3px;
    align-items: center;
    text-decoration: none;
    border: solid white 1px;
    justify-content: center;
    transition: all 0.2s linear;
    grid-template-columns: auto 1fr;
    cursor: url("images/mouse.svg") 16 16, pointer;
}
.fa .fa-lable {
    text-transform: uppercase !important;
}
.fa:hover, .fa:target {
    width: 90%;
    color: #FFF;
    opacity: 100%;
    text-decoration: none;
}
.fa-envelope {
    background: #30396d;
}
.fa-facebook .fa-lable,
.fa-facebook-f .fa-lable {
    gap: 3px;
}
.fa-instagram {
    background: #125688;
}
.fa-facebook,
.fa-facebook-f {
    background: #3B5998;
}
.fa-twitter,
.fa-bluesky,
.fa-x-twitter {
    background: #55ACEE;
}
.fa-youtube {
    background: #bb0000;
}
.fa-music {
    color: #55ACEE;
    background: #000000;
    text-shadow: 2px 2px #bb0000;
}
.fa-pinterest,
.fa-pinterest-p {
    background: #cb2027;
}
.fa-soundcloud {
    background: #ff5500;
}
.fa-deviantart {
    background: #05CC46;
}
.fa-github {
    background: #000000;
}
.fa-xda {
    background: #f59714;
}
.fa-afh {
    background: #93BA0E;
}

