.screen {
	width: 50%;
	height: 100%;
}
#fa-wrapper {
	background: rgba(17, 17, 17, 100%) url("images/noise.png") !important;
	display: block;
	position: relative; /*Can also be `fixed`*/
	margin: auto;
	text-align: center;
}
.fa-bio-wrapper {
	display: inline-block;
	margin: auto;
	color: #FFF;
	width: 100%;
}
	
.fa-logo {
	display: block;
	margin: auto;
	border-radius: 100px;
	border: solid white 1px;
	float: left;
	margin:5px 45px;
}
.fa-name {
	display: inline-block;
	color: #FFF;
	font-size: 24px;
	font-weight:bold;
	padding: 0px 45px;
	margin: 5px 0px;
	float: left;
	clear: both;
}
.fa-bio {
	display: inline-block;
	color: #FFF;
	text-align: justify;
	font-size: 18px;
	line-height: 140%;
	padding: 0px 45px;
	margin: 5px 0px;
}

.fa-icons {
	padding-bottom: 2%;
	clear:both;
}
.fa {
	text-decoration: none;
	display: inline-block;
	color: #FFF;
	font-size: 27px;
	padding: 20px 40px;
	margin: 10px 0px;
	border-radius: 1px;
	border: solid white 1px;
	position: relative;
	width: 75%;
	height: 25px;
	top: 10px;
	opacity: 75%;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	cursor: default;
	cursor: url("images/mouse.svg") 16 16, pointer;
}
.fa:last-child {
	margin-bottom:40px
}
.fa:hover, .fa:target {
	width: 80%;
	height: 30px;
	opacity: 100%;
}
.fa .fa-lable {
	margin-left: 5px;
}
.fa-envelope {
	background: #30396d;
}
.fa-facebook .fa-lable {
	margin-left: 0px;
}
.fa-instagram {
	background: #125688;
}
.fa-facebook {
	background: #3B5998;
}
.fa-twitter {
	background: #55ACEE;
}
.fa-youtube {
	background: #bb0000;
}
.fa-music {
	background: #000000;
	color: #55ACEE;
	text-shadow: 2px 2px #bb0000;
}
.fa-pinterest {
	background: #cb2027;
}
.fa-soundcloud {
	background: #ff5500;
}
.fa-deviantart {
	background: #05CC46;
}
.fa-github {
	background: #000000;
}
.fa-android {
	background: #f59714;
}

