img { max-width: 100%; height: auto; }

.screen {
    height: 100%;
    width: calc(100% - 200px);
}
#fa-wrapper {
    margin: auto;
    padding: 45px;
    display: block;
    position: relative;
    text-align: center;
    background: rgba(17, 17, 17, 100%);
}
.fa-bio-wrapper {
    gap: 1px;
    color: #FFF;
    width: 100%;
    margin: auto;
    display: grid;
    justify-items: start;
    justify-content: center;
    grid-template-columns: 100%;
}

.fa-logo {
    margin-top: 20px;
    display: inline-block;
    border: solid white 1px;
}
.fa-name {
    color: #FFF;
    font-size: 24px;
    font-weight:bold;
    display: inline-block;
}
.fa-bio {
    color: #FFF;
    font-size: 18px;
    line-height: 140%;
    text-align: left;
    display: inline-block;
}

.fa-icons {
    gap: 20px;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 100%;
}
.fa {
    gap: 1px;
    top: 10px;
    width: 100%;
    color: #FFF;
    opacity: 75%;
    display: flex;
    font-size: 27px;
    cursor: default;
    position: relative;
    padding: 20px 30px;
    border-radius: 2px;
    user-select: none;
    letter-spacing: 3px;
    align-items: center;
    text-decoration: none;
    border: solid white 1px;
    justify-content: center;
    transition: all 0.2s linear;
    grid-template-columns: auto 1fr;
    cursor: url("images/mouse.svg") 16 16, pointer;
}
.fa .fa-lable {
    text-transform: uppercase !important;
}
.fa:hover, .fa:target {
    width: 90%;
    color: #FFF;
    opacity: 100%;
    text-decoration: none;
}
.fa-envelope {
    background: #30396d;
}
.fa-facebook .fa-lable,
.fa-facebook-f .fa-lable {
    gap: 3px;
}
.fa-instagram {
    background: #125688;
}
.fa-facebook,
.fa-facebook-f {
    background: #3B5998;
}
.fa-twitter,
.fa-bluesky,
.fa-x-twitter {
    background: #55ACEE;
}
.fa-youtube {
    background: #bb0000;
}
.fa-music {
    color: #55ACEE;
    background: #000000;
    text-shadow: 2px 2px #bb0000;
}
.fa-pinterest,
.fa-pinterest-p {
    background: #cb2027;
}
.fa-soundcloud {
    background: #ff5500;
}
.fa-deviantart {
    background: #05CC46;
}
.fa-github {
    background: #000000;
}
.fa-xda {
    background: #f59714;
}
.fa-afh {
    background: #93BA0E;
}

